.svg-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  
    // &:hover {
    //   // color: #0088ff;
    // }
  }